@use 'variables' as v;
@use 'mixins/mixins';
.artist {
    text-align: center;
    margin-bottom: 40px;
    &__p-first {
        font-size: 30px;
        margin-bottom: 20px;
    }
    &__p-last {
        font-size: 23px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 90px;
        margin-bottom: 20px;

        @media(max-width: v.$width-mobile) {
            margin-top: 20px;
            font-size: 35px !important;
      } 
    }
    &__button {
        @include mixins.button(15px, 20px, v.$orange, v.$white, 22px, 4em, 260px);
        margin: 0 auto;
    }
}