@use 'variables' as v;
@use 'mixins/mixins';


.footer {
      &__main {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 1000px;
            margin: 0 auto;
            padding: 25px;
      }

      &__logo span{
            display: block;
            font-size: 15px;
      } 

      &__links{
            padding: 20px;
            display: inline-block;
            h3{
                  font-size: 32px;
            }

            ul {
                  list-style-type: none;
            }
            a {
                  text-decoration: none;
                  font-size: 20px;
            }
      }

      &__copyright{
            text-align: center;
            padding: 25px;
            font-size: 15px;
      }
}


.border {
      border-left: 2px solid v.$gray;
      padding-left: 45px;
}



