@use 'variables';
@use 'mixins/mixins';


.announcement {
      background-color: variables.$purple-dark;
      font-size: 17px;
      padding: 20px;
      text-align: center;
}

.header {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4em;
      position: relative;
      
      @media(min-width: variables.$width-desktop) {
            height: 140px;
      }

      &__left-logo{
            span {
                  display: block;
                  margin-left: 1em;
            }
            display: flex;
            justify-content: center;
            align-items: center;
      }

      &__navigation{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            width: 900px;

      }

      &__buttons{
            display: flex;
            justify-content: space-between;
            width: auto;
      }
      &__menu {
            &:hover {
                  cursor: pointer;
            }
            @media(min-width: variables.$width-desktop) {
                  display: none;
            }
      }

}

.navbar {
      &__items {
          list-style: none;
          display: flex;
          justify-content: space-between;
      }
      &__link {
          text-decoration: none;
          height: auto;
          padding-left: 22px;
          padding-right: 22px;
          &-access {
              @include mixins.button(15px, 5px, variables.$dark-button, variables.$white, 22px, auto, auto);
              
          }
          &-register {
              @include mixins.button(15px, 5px, variables.$orange, variables.$white, 22px, auto, auto);
              margin-left: 20px;
          }
          &:hover {
              border-bottom: 4px solid variables.$orange;
          }
      }
      @media(min-width: variables.$width-desktop) {
          display: block;
      }
  }