@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: variables.$font;
      background-color: variables.$black;
      color: variables.$white;
}

a {
      color: variables.$white;
}
