@use 'initial';
@use 'modal-navbar';
@use 'banner';
@use 'variables';
@use 'header';
@use 'clapp';
@use 'artist';
@use 'carrusel';
@use 'latest';
@use 'concerts';
@use 'footer';
@use 'shared';
@use 'mixins/mixins';

.main-container{  
      width: 100%;
      margin: auto;
      position: relative;
      @media(max-width: variables.$width-mobile) {
            .announcement {
                  display: none;
            }

      }
      

      .clapp__image{
            @media(max-width: variables.$width-mobile) {
                  display: none;
              }
      }


      #ticket {
            height: 400px !important;
            @media(max-width: variables.$width-mobile) {
                height: 350px !important;
          }
        }


}



