@use 'initial';
@use 'banner';
@use 'variables';
@use 'header';
@use 'clapp';
@use 'artist';
@use 'mixins/mixins';

.main-container{  
      width: 100%;
      margin: auto;
      position: relative;
      @media(min-width: 1115px) {
            width: 100%;
      }
      
}



