@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: rgb(2, 0, 7);
  color: hsl(0deg, 0%, 100%);
}

a {
  color: hsl(0deg, 0%, 100%);
}

.background {
  background-image: url("../images/background_banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  position: relative;
}

.banner__description {
  font-size: 30px;
  position: absolute;
  top: 40%;
  right: 70%;
  width: 9em;
}
.banner__description p {
  margin-bottom: 25px;
}
.banner__button {
  background-color: #150E29;
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  padding: 20px 20px;
  height: 4em;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
}

.announcement {
  background-color: rgb(30, 26, 52);
  font-size: 17px;
  padding: 20px;
  text-align: center;
}

.header {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  position: relative;
}
@media (min-width: 1300px) {
  .header {
    height: 140px;
  }
}
.header__left-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__left-logo span {
  display: block;
  margin-left: 1em;
}
.header__navigation {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 900px;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  .header__menu {
    display: none;
  }
}

.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  height: auto;
  padding-left: 22px;
  padding-right: 22px;
}
.navbar__link-access {
  background-color: #150E29;
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  padding: 5px 15px;
  height: auto;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
}
.navbar__link-register {
  background-color: #F89C1C;
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  padding: 5px 15px;
  height: auto;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  margin-left: 20px;
}
.navbar__link:hover {
  border-bottom: 4px solid #F89C1C;
}
@media (min-width: 1300px) {
  .navbar {
    display: block;
  }
}

.clapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clapp__details {
  margin-left: 9%;
  width: 600px;
}
.clapp__details h3 {
  font-size: 42px;
}
.clapp__download {
  font-size: 30px;
}
.clapp__white, .clapp__orange {
  font-size: 90px;
}
.clapp__white {
  color: hsl(0deg, 0%, 100%);
}
.clapp__orange {
  color: #F89C1C;
}
.clapp__devices {
  display: flex;
  padding: 20px 0px;
}
.clapp__devices img {
  width: 200px;
}
.clapp__advantages {
  padding: 30px;
}
.clapp__advantage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clapp__advantage img {
  width: 100px;
}
.clapp__advantage-right {
  padding: 20px 35px;
}
.clapp__advantage-right span {
  font-size: 29px;
  font-weight: 700;
}
.clapp__advantage-right p {
  font-size: 16px;
}

.artist {
  text-align: center;
  margin-bottom: 40px;
}
.artist__p-first {
  font-size: 30px;
  margin-bottom: 20px;
}
.artist__p-last {
  font-size: 23px;
  margin-bottom: 20px;
}
.artist h1 {
  font-size: 90px;
  margin-bottom: 20px;
}
.artist__button {
  background-color: #F89C1C;
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  padding: 20px 15px;
  height: 4em;
  width: 260px;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  margin: 0 auto;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  width: 500px !important;
  opacity: 1;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.2) !important;
  transition: 0.7s;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    transition: none;
  }
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 16px;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    transition: none;
  }
}
.owl-carousel .owl-nav .owl-prev:hover span:before,
.owl-carousel .owl-nav .owl-next:hover span:before {
  color: #F89C1C;
}
.owl-carousel .owl-nav .owl-prev {
  right: 0;
  margin-right: 20px;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-dots {
  text-align: left;
  margin-top: 10px;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #F89C1C;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.work {
  width: 100%;
}
.work .img {
  width: 450px;
  height: 600px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  z-index: 0;
}
.work .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background: rgba(255, 93, 177, 0);
  background: -moz-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, rgb(0, 0, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), color-stop(100%, rgb(0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, rgb(0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, rgb(0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, rgb(0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff5db1", endColorstr="#000000", GradientType=0 );
  opacity: 0.6;
}

.carrusel__info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrusel__info h3 {
  font-size: 34px;
}
.carrusel__text-artist-info {
  font-size: 21px;
}
.carrusel__text-artist-record {
  display: bloc;
  border-right: 2px solid gray;
}
.carrusel__icons {
  display: flex;
}
.carrusel__icons img {
  margin-right: 20px;
}
.carrusel__concert {
  background-color: auto;
  border: none;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  padding: 0 4em;
  height: 40px;
  width: 6em;
  font-size: 23px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  border: 1px solid hsl(0deg, 0%, 100%);
  margin: 20px 0px;
}

.latest {
  text-align: center;
  margin-top: 30px;
}
.latest__title {
  font-size: 32px;
}
.latest .clapp__devices {
  justify-content: center;
}
.latest__purple-text {
  background-color: #473876;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  max-height: 700px;
}
.latest__purple-text h1 {
  font-size: 70px;
  width: 60%;
}
.latest__purple-text p {
  font-size: 32px;
}

.concerts {
  margin-top: 8em;
  display: flex;
  justify-content: space-between;
}
.concerts__left {
  padding: 0px 7em;
}
.concerts__title {
  display: flex;
  align-items: center;
}
.concerts__title h3 {
  font-size: 70px;
}
.concerts__title p {
  font-size: 30px;
}
.concerts__button {
  background-color: #EBEBEB;
  border: none;
  border-radius: 25px;
  color: rgb(2, 0, 7);
  padding: 0 1em;
  height: 2em;
  width: 9em;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: normal;
}

.main-container {
  width: 100%;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
