@use '../variables' as v;


@mixin button($padding-x, $padding-y, $background, $color, $font-size, $height, $width) {
    background-color: $background;
    border: none;
    border-radius: 15px;
    color: $color;
    padding: $padding-y $padding-x;
    height: $height;
    width: $width;
    font-size: $font-size;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
}

@mixin descriptions {
    font-size: 30px;
}

// stylelint-disable property-blacklist
@mixin transition($transition...) {
    @if v.$enable-transitions {
      @if length($transition) == 0 {
        transition: $transition-base;
      } @else {
        transition: $transition;
      }
    }
  
    @if v.$enable-prefers-reduced-motion-media-query {
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }


  // Gradients

@mixin gradient-bg($color) {
    @if v.$enable-gradients {
      background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
    } @else {
      background-color: $color;
    }
  }
  
  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  @mixin gradient-x($start-color: $gray-700, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
  }
  
  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  @mixin gradient-y($start-color: $gray-700, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
  }
  
  @mixin gradient-directional($start-color: $gray-700, $end-color: $gray-800, $deg: 45deg) {
    background-image: linear-gradient($deg, $start-color, $end-color);
    background-repeat: repeat-x;
  }
  @mixin gradient-x-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
  }
  @mixin gradient-y-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
  }
  @mixin gradient-radial($inner-color: $gray-700, $outer-color: $gray-800) {
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
  }
  @mixin gradient-striped($color: rgba($white, .15), $angle: 45deg) {
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  }

  @mixin gradient-background(){
	background: rgba(255,93,177,0);
	background: -moz-linear-gradient(top, rgba(255,93,177,0) 0%, rgba(148,54,103,0) 42%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,93,177,0)), color-stop(42%, rgba(148,54,103,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,93,177,0) 0%, rgba(148,54,103,0) 42%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,93,177,0) 0%, rgba(148,54,103,0) 42%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,93,177,0) 0%, rgba(148,54,103,0) 42%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,93,177,0) 0%, rgba(148,54,103,0) 42%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=0 );
}
  
  
