@use '../variables' as v;


@mixin button($padding-x, $padding-y, $background, $color, $font-size, $height) {
    background-color: $background;
    border: none;
    border-radius: 15px;
    color: $color;
    padding: $padding-y $padding-x;
    height: $height;
    width: auto;
    font-size: $font-size;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
}

@mixin descriptions {
    font-size: 30px;
}
